# VITE_APPSCRIPT_URL: Đường dẫn URL Google Apps Script Web App (dạng https://script.google.com/macros/s/.../exec)
VITE_APPSCRIPT_URL="https://script.google.com/macros/s/AKfycbwwAGjfWv1e6-n7kjdrlfur2jCogYc3wl5aiJbWne65UF_tp2NGbMcvgX9-36Nk0q11/exec"
